<div class="main">
  <div class="main_wrapper">
    <div class="item">
      <div class="item__content">
        <div class="item__content-image">
          <img src="../../assets/images/plan.jpg" alt="plan">
        </div>
        <div class="item__content-info">
          <div>
            <span class="item__content-info-title title">
            2-к квартира
          </span>
            <div class="item__content-info-wrapper">
              <div class="item__content-info-cell">
                <span class="item__content-info-cell-title">Этаж</span>
                <span class="item__content-info-cell-text">3 из 19</span>
              </div>
              <div class="item__content-info-cell">
                <span class="item__content-info-cell-title">Высота потолков</span>
                <span class="item__content-info-cell-text">3,2 м</span>
              </div>
              <div class="item__content-info-cell">
                <span class="item__content-info-cell-title">Отделка</span>
                <span class="item__content-info-cell-text">Предчистовая</span>
              </div>
              <div class="item__content-info-cell">
                <span class="item__content-info-cell-title">Общая площадь</span>
                <span class="item__content-info-cell-text">32,24 м²</span>
              </div>
              <div class="item__content-info-cell">
                <span class="item__content-info-cell-title">Жилая площадь</span>
                <span class="item__content-info-cell-text">222,24 м²</span>
              </div>
              <div class="item__content-info-cell">
                <span class="item__content-info-cell-title">Площадь кухни</span>
                <span class="item__content-info-cell-text">14,24 м²</span>
              </div>
            </div>
          </div>
          <div class="item__content-info-labels">
            <div class="item__content-info-label background-green">
              <span> <img class="icon" src="../../assets/icons/check-green.svg" alt=""></span>
<!--              по хорошему иконки должны быть сделаны с помощью angular Material-->
<!--              но тут их немного и большинство статичны, поэтому оставил так,-->
<!--              чтобы не перегружать тестовый проект-->
              <span class="item__content-info-label-text green">Вы были на просмотре</span>
            </div>
            <div class="item__content-info-label background-red">
              <span> <img class="icon" src="../../assets/icons/cross-red.svg" alt=""></span>

              <span class="item__content-info-label-text red">Дом аккредитован другим банком</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item__offer">
        <div>
          <div class="item__offer-wrapper">
          <span class="item__offer-text">Ваша цена по брони до
          <span class="item__offer-text blue">19 сентября</span>
          </span>
          </div>
          <span class="item__offer-title title">3 312 666 Р</span>
          <div class="item__offer-wrapper">
          <span class="item__offer-text">Текущая цена у застройщика дороже на
          <span class="item__offer-text red">324 825 Р</span>
          </span>

          </div>
        </div>

        <div class="item__offer-button">
          <button class="btn btn__offer">
            <span class="btn__offer-icon">
              <img class="icon" src="../../assets/icons/key.svg" alt="">
            </span>
            <span class="btn__offer-text">Выбрать для покупки</span>
          </button>
        </div>
      </div>
      <div class="item__close">
        <button class="btn btn-close">
          <svg-icon class="close-icon" src="../../assets/icons/cross-black.svg"></svg-icon>
        </button>
      </div>

    </div>
  </div>
</div>
